

<div class="Brand grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 mt-12 justify-items-center">
	@for (brand of Brand; track brand._id) {
	<div
		class="group relative text-center p-8 rounded-3xl bg-white shadow-2xl hover:shadow-3xl transition-shadow duration-500 transform hover:-translate-y-2">
	
		<div class="flex items-center justify-center w-40 h-24 mx-auto mb-4">
			<img [src]="brand.image" [alt]="brand.name" class="max-w-full max-h-full object-contain" />
		</div>

	
		<p class="text-2xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-ocean-green">
			{{ brand.name }}
		</p>

	
		<span
			class="absolute inset-0 rounded-3xl border-4 border-transparent group-hover:border-ocean-green transition-all duration-500"></span>
	</div>
	}
</div>



