<form [formGroup]="registerForm" (ngSubmit)="register()" class="max-w-lg mx-auto p-10 bg-white shadow-2xl rounded-3xl">

	@if (apiError)
	{
	<div class="flex p-4 mb-6 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
		{{apiError}}
	</div>
	}

	<div class="relative z-0 w-full mb-8 group">
		@let nameControl = registerForm.get("name");
		<app-custom-input formControlName="name" id="floating_name" [type]="'text'" [placeholder]="'Full Name'"
			class="text-lg"></app-custom-input>
		<app-error-message [nameControl]="nameControl"></app-error-message>
	</div>

	<div class="relative z-0 w-full mb-8 group">
		@let emailControl = registerForm.get("email");
		<app-custom-input formControlName="email" id="floating_email" [type]="'email'" [placeholder]="'Email Address'"
			class="text-lg"></app-custom-input>
		<app-error-message [nameControl]="emailControl"></app-error-message>
	</div>

	<div class="relative z-0 w-full mb-8 group">
		@let passwordControl = registerForm.get("password");
		<app-custom-input formControlName="password" id="floating_password" [type]="'password'"
			[placeholder]="'Password'" class="text-lg"></app-custom-input>
		<app-error-message [nameControl]="passwordControl"></app-error-message>
	</div>

	<div class="relative z-0 w-full mb-8 group">
		@let repasswordControl = registerForm.get("rePassword");
		<app-custom-input formControlName="rePassword" id="floating_rePassword" [type]="'password'"
			[placeholder]="'Confirm Password'" class="text-lg"></app-custom-input>

		@if (repasswordControl?.errors && repasswordControl?.touched || registerForm.hasError('mismatch'))
		{
		<div class="flex p-4 mb-6 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
			<ul class="list-disc list-inside">
				@if (repasswordControl?.hasError('required'))
				{
				<li>Confirmation password is required</li>
				}
				@if (registerForm.hasError('mismatch'))
				{
				<li>Passwords do not match</li>
				}
			</ul>
		</div>
		}
	</div>

	<div class="relative z-0 w-full mb-8 group">
		@let phoneControl = registerForm.get("phone");
		<app-custom-input formControlName="phone" id="floating_phone" [type]="'tel'" [placeholder]="'Phone Number'"
			class="text-lg"></app-custom-input>
		<app-error-message [nameControl]="phoneControl"></app-error-message>
	</div>

	<button type="submit"
		class="bg-ocean-green text-white px-8 py-4 rounded-xl hover:bg-ocean-green/90 transition-colors w-full flex items-center justify-center gap-4 text-xl">
		@if (isCallingAPI)
		{
		<i class="fa-solid fa-spinner animate-spin"></i>
		Processing...
		}
		@else
		{
		Submit
		}
	</button>

</form>