<footer class="bg-white rounded-lg shadow-sm m-4">
	<div class="w-full max-w-screen-xl mx-auto p-4 flex flex-col md:flex-row items-center justify-between">
		<span class="text-sm text-gray-500 mb-3 md:mb-0">
			Thank you for visiting! We welcome your communication.
		</span>

		<ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 gap-4 md:gap-6">
			<li>
				<a href="#" class="hover:text-black transition-colors">About</a>
			</li>
			<li>
				<a href="#" class="hover:text-black transition-colors">Privacy Policy</a>
			</li>
			<li>
				<a href="#" class="hover:text-black transition-colors">Licensing</a>
			</li>
			<li>
				<a href="#" class="hover:text-black transition-colors">Contact</a>
			</li>
		</ul>
	</div>
</footer>