<form [formGroup]="loginForm" (ngSubmit)="login()" class="max-w-md mx-auto p-10 bg-white shadow-2xl rounded-3xl">

	@if (apiError)
	{
	<div class="flex p-4 mb-6 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
		{{apiError}}
	</div>
	}

	<div class="relative z-0 w-full mb-8 group">
		@let emailControl = loginForm.get("email");
		<app-custom-input formControlName="email" id="floating_email" [type]="'email'"
			[placeholder]="'Enter Your Email'" class="text-sm"></app-custom-input>
		<app-error-message [nameControl]="emailControl"></app-error-message>
	</div>

	<div class="relative z-0 w-full mb-8 group">
		@let passwordControl = loginForm.get("password");
		<app-custom-input formControlName="password" id="floating_password" [type]="!toggleInput ? 'password' : 'text'"
			[placeholder]="'Enter Your Password'" class="text-sm"></app-custom-input>
		<span (click)="togglePassword()"
			class="absolute top-4 right-4 cursor-pointer text-gray-500 hover:text-gray-700 transition-colors">
			@if (!toggleInput)
			{
			<i class="fa-regular fa-eye-slash"></i>
			}
			@else
			{
			<i class="fa-regular fa-eye"></i>
			}
		</span>
		<app-error-message [nameControl]="passwordControl"></app-error-message>
	</div>

	<button type="submit"
		class="bg-ocean-green text-white px-8 py-4 mt-8 rounded-2xl hover:bg-green-700 transition-all w-full flex items-center justify-center gap-4 text-base font-bold">
		@if (isCallingAPI)
		{
		<i class="fa-solid fa-spinner animate-spin"></i>
		Processing...
		}
		@else
		{
		Login
		}
	</button>

</form>