@if (isLoading) {
<h1 class="text-5xl text-center mt-16 animate-pulse">Loading...</h1>
} @else {
@if (cartDetails?.numOfCartItems != 0 && !emptyCart) {
<section class="card p-6 bg-white shadow-lg rounded-lg">
	<div class="cart__header mb-8 flex flex-col md:flex-row justify-between items-center gap-6">
		<h2 class="text-3xl font-semibold">Total Cart Items: {{cartDetails.numOfCartItems}}</h2>
		<div class="flex items-center gap-4">
			<p class="text-3xl font-semibold">Total Price: EGP {{cartDetails.data.totalCartPrice}}</p>
			<button (click)="clearCart()"
				class="bg-red-500 text-white p-2 rounded-md hover:bg-red-600 transition">Clear</button>
		</div>
	</div>

	<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
		<table class="w-full text-sm text-left text-gray-600">
			<thead class="text-xs text-gray-700 uppercase bg-gray-100">
				<tr>
					<th scope="col" class="px-6 py-3">Image</th>
					<th scope="col" class="px-6 py-3">Product</th>
					<th scope="col" class="px-6 py-3">Quantity</th>
					<th scope="col" class="px-6 py-3">Price</th>
					<th scope="col" class="px-6 py-3">Action</th>
				</tr>
			</thead>
			<tbody>
				@for (product of cartDetails?.data?.products; track product.product._id) {
				<tr class="bg-white border-b hover:bg-gray-50 transition">
					<td class="p-4">
						<img [src]="product.product.imageCover" alt="Product Image" class="w-16 md:w-32 rounded-lg">
					</td>
					<td class="px-6 py-4 font-semibold">{{product.product.title}}</td>
					<td class="px-6 py-4">
						<div class="flex items-center gap-4">
							<button (click)="updateCount(product.product._id, product.count - 1)"
								class="p-1 text-gray-500 bg-white border rounded-full hover:bg-gray-200 focus:ring focus:ring-gray-300">
								&#8722;
							</button>
							<span>{{product.count}}</span>
							<button (click)="updateCount(product.product._id, product.count + 1)"
								class="p-1 text-gray-500 bg-white border rounded-full hover:bg-gray-200 focus:ring focus:ring-gray-300">
								&#43;
							</button>
						</div>
					</td>
					<td class="px-6 py-4 font-semibold">EGP {{product.price}}</td>
					<td class="px-6 py-4">
						<button (click)="removeItem(product.product._id)"
							class="text-red-600 hover:underline">Remove</button>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="cart__action mt-8 flex justify-end">
		<a [routerLink]="['/checkout', cartDetails.cartId]"
			class="bg-ocean-green text-white p-4 rounded-md hover:bg-green-700 transition">Continue</a>
	</div>
</section>
} @else {
<h1 class="text-5xl text-center mt-16">No items in cart... Start shopping now!</h1>
}
}