<div
	class="product bg-white p-6 rounded-3xl shadow-lg group relative overflow-hidden transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl">
	<a [routerLink]="['/productDetails', product._id]" class="block">
		<div class="relative overflow-hidden rounded-2xl">
			<img [src]="product.imageCover"
				class="w-full h-60 object-cover rounded-2xl transition-transform duration-700 ease-out group-hover:scale-105"
				alt="{{ product.title }} cover image">
		</div>
		<span class="text-ocean-green font-semibold text-xs uppercase mt-4 block tracking-wide">
			{{ product.category.name }}
		</span>
		<h2
			class="text-eerie-black text-lg font-semibold mt-3 truncate transition-all duration-500 group-hover:text-ocean-green">
			{{ product.title.split(' ').splice(0, 2).join(' ') }}
		</h2>
		<div class="flex justify-between items-center text-onyx mt-3">
			<p class="text-base font-semibold">{{ product.price }}</p>
			<p class="flex items-center gap-1">
				<i class="fa-solid fa-star text-sandy-brown text-sm"></i>
				<span class="text-sm">{{ product.ratingsAverage }}</span>
			</p>
		</div>
	</a>
	<button (click)="handAddToCart(product._id)"
		class="absolute bottom-5 left-5 right-5 py-3 rounded-xl bg-ocean-green text-white text-sm font-semibold flex items-center justify-center gap-3 transition-all duration-500 transform translate-y-32 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 shadow-lg hover:bg-green-800 hover:scale-105">
		@if (isLoading) {
		<i class="fa-solid fa-spinner animate-spin"></i>
		Adding...
		} @else {
		🛒 Add to Cart
		}
	</button>
</div>